* {
    padding: 0;
    margin: 0;
}

h1 {
    padding: 30px;
    text-align: center;
    border: 2px black solid;
    background-color: cyan;
}

input {
    margin-right: 5px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    height: 20px;
    text-align: center
}

.submit {
    height: 25px;
    width: 75px;
}

.submit:hover {
    color: whitesmoke;
    background-color: black;
}

.cityContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    word-wrap: break-word;
    margin: 20px;
    padding: 10px;
    width: 100%vw;
    border: 1px solid black;
}

ul ul button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
    background-color: lightgray;
    border-radius: 10px;
    border: 1px black solid;
}

ul ul button:hover {
    color: whitesmoke;
    background-color: black;
}

fieldset {
    margin: 50px 30px 10px 30px;
}

legend {
    font-size: 40px;
}

/* .one {}

.two {} */

.three {
    text-align: center;
    font-size: 25px;
}

.hide {
    display: none;
}